.env
website/.env
.vscode
.DS_Store
MLOps/.env
.venv
MLOps/airflow/airflow.cfg
MLOps/airflow/airflow.db
MLOps/airflow/simple_auth_manager_passwords.json.generated
MLOps/airflow/dags/__pycache__/
MLOps/airflow/logs
MLOps/airflow/airflow.db-wal
MLOps/airflow/airflow.db-shm
MLOps/dump.rdb
website/app/frontend/node_modules
MLOps/models/tensorflow_training/fashion_recommendation_model.onnx
**/__pycache__/
**.DS_Store