apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow
  namespace: mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow
  template:
    metadata:
      labels:
        app: airflow
    spec:
      containers:
      - name: airflow
        image: apache/airflow:3.1.0
        env:
        - name: AIRFLOW__CORE__EXECUTOR
          value: "LocalExecutor"
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: airflow
  namespace: mlops
spec:
  selector:
    app: airflow
  ports:
  - port: 8080