python-dotenv
pydantic
requests

fastapi
uvicorn[standard]

# ML
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
faiss-cpu

numpy
pandas
scikit-learn

prometheus-client